@import "menuExpanded.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px; /* 1rem = 10px */

  --nav-height: 3.875rem;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 30rem;
  @apply mx-auto px-10;
}

#home::before {
  content: '';
  height: calc(68rem + var(--nav-height));

  @apply bg-primary-light block w-full absolute top-0 left-0 -z-10;
}

i {
  font-size: 1.75rem;
}

nav {
  z-index: 100;
}

section {
  padding: 100px 0;
}

section p {
  @apply text-base text-gray;
}