@import "menuExpanded.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Geral */
:root {
  font-size: 16px; /* 1rem = 10px */

  --nav-height: 3.875rem;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html::-webkit-scrollbar-thumb {
  @apply bg-primary;
}

html::-webkit-scrollbar-track {
  @apply bg-primary-lighter;
}

i {
  font-size: 1.75rem;
}

nav {
  z-index: 100;
}

section {
  padding: 100px 0;
}

section p {
  @apply text-base text-gray;
}

a.show {
  @apply opacity-80 visible translate-y-0;
}

.wrapper {
  width: min(32rem, 100%);
  @apply mx-auto px-5 sm:px-10;
}


/* Home Section */
#home::before {
  content: '';
  height: calc(68rem + var(--nav-height));

  @apply bg-primary-light block w-full absolute top-0 left-0 -z-10;
}

#home h1 {
  line-height: 130%;
}


/* Responsive */
@media (min-width: 1024px) {
  .wrapper {
    width: min(70rem, 100%);
  }

  nav.scroll .menu a {
    @apply text-white;
  }

  nav .menu li a::after {
    content: '';
    height: 2px;
    bottom: -1.125rem;
    transition: width .15s;

    @apply bg-primary w-0 relative block;
  } 

  nav.scroll .menu li a::after {
    @apply bg-white;
  }

  nav .menu li a.active::after,
  nav .menu li a:hover::after {
    @apply w-full;
  }

  nav.scroll .menu > a:hover {
    @apply border-transparent brightness-110;
  }

  #home::before {
    height: calc(38rem + var(--nav-height));
  }

  #home .stats div + div {
    @apply border-l border-primary-light;
  }
}